DATABASE_URL=postgres://postgres:postgres@192.168.12.195:5435/echo-english
REDIS_URL=redis://localhost:6379
LOGIN_METHOD=email_otp
OBJECT_STORAGE_PUBLIC_BASE_URL=http://localhost:9000/echo-english
SPEAKING_SCORE_PROVIDER=mock
